@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif !important;
  @apply bg-bg;
}

@theme {
  --color-orange: hsla(21, 100%, 50%, 1);
  --color-bg: hsla(240, 33%, 98%, 1);
  --color-gray: hsla(0, 0%, 95%, 1);
}

h2 {
  @apply text-2xl font-bold text-gray-800 mb-4;
}
